[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
jupyter = "*"

[packages]
numpy = "*"
pandas = "*"
sklearn = "*"
boto3 = "*"
sagemaker = "*"
numerapi = "*"
hunga-bunga = "*"
tabulate = "*"
torchvision = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
