[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"

[packages]
numpy = "*"
pandas = "*"
sklearn = "*"
boto3 = "*"
sagemaker = "*"
numerapi = "*"
hunga-bunga = "*"
tabulate = "*"
torch = {file = "https://download.pytorch.org/whl/cu100/torch-1.0.1-cp37-cp37m-win_amd64.whl"}
torchvision = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
